<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit", edit_post_path(@post), class: 'turbo-native-hidden', "data-controller": "bridge--button" %>

  <%= link_to "Back to posts", posts_path, class: 'turbo-native-hidden' %>

</div>
